body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

img {
    display: block;
    width: 600px;
    max-width: 100%;
    margin: 15px auto;
}

main {
    max-width: 100%;
    padding: 0 20px 40px;
    background-color: #FFF;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:hover {
    color: pink;
}
